cmake_minimum_required(VERSION 3.16)
project({{KTM_CREATE_MODULE_NAME}} LANGUAGES CXX)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

add_library({{KTM_CREATE_MODULE_NAME}} src/robot.cpp)
target_include_directories({{KTM_CREATE_MODULE_NAME}} PUBLIC include)

if(DEFINED ENV{CMAKE_PREFIX_PATH})
  string(REPLACE ":" ";" KTM_ENV_CMAKE_PREFIX_PATH "$ENV{CMAKE_PREFIX_PATH}")
  list(APPEND CMAKE_PREFIX_PATH ${KTM_ENV_CMAKE_PREFIX_PATH})
endif()
if(DEFINED ENV{LIBRARY_PATH})
  string(REPLACE ":" ";" KTM_ENV_LIBRARY_PATH "$ENV{LIBRARY_PATH}")
endif()
if(DEFINED ENV{CPATH})
  string(REPLACE ":" ";" KTM_ENV_INCLUDE_PATH "$ENV{CPATH}")
endif()

find_package(KTNode CONFIG QUIET)
if(KTNode_FOUND)
  target_link_libraries({{KTM_CREATE_MODULE_NAME}} PUBLIC KTNode::ktnode)
else()
  find_library(KT_NODE_LIBRARY NAMES kt_node HINTS ${KTM_ENV_LIBRARY_PATH} REQUIRED)
  find_path(KT_NODE_INCLUDE_DIR NAMES kt_node.h HINTS ${KTM_ENV_INCLUDE_PATH} REQUIRED)
  target_include_directories({{KTM_CREATE_MODULE_NAME}} PUBLIC "${KT_NODE_INCLUDE_DIR}")
  target_link_libraries({{KTM_CREATE_MODULE_NAME}} PUBLIC "${KT_NODE_LIBRARY}")
endif()

add_executable(basic examples/basic.cpp)
target_link_libraries(basic PRIVATE {{KTM_CREATE_MODULE_NAME}})

add_executable(smoke tests/smoke.cpp)
target_link_libraries(smoke PRIVATE {{KTM_CREATE_MODULE_NAME}})
